<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registeration</title>
</head>
<body bgcolor="cyan">
    

<form action="registar" method="post">
{% csrf_token %}

<input type="text" name="first_name" placeholder="First Name"><br>
<input type="text" name="last_name" placeholder="Last Name"><br>
<input type="text" name="username" placeholder="User Name"><br>
<input type="email" name="email" placeholder="email"><br>
<input type="password" name="password1" placeholder="password1"><br>
<input type="password" name="password2" placeholder="password2"><br><br><br>

<input type="submit">





</form>


</body>
</html>